{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="list-group z-depth-1">
            {% for folder in folders %}
                <a href="{{ path('project_new',{'folder': folder}) }}" class="list-group-item list-group-item-action">{{ folder }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
