<div class="card">
    <div class="card-header deep-orange lighten-1 white-text">
        <i class="fa fa-code-fork"></i> Commits
    </div>
    <div class="list-group z-depth-1 pre-scrollable">
        {% for commit in commits %}
            <a class="list-group-item list-group-item-action" href="{{ commit.html_url }}" target="_blank" title="{{ commit.sha }}">
                <i class="fa fa-user"></i> {{ commit.commit.author.name }} | <i class="fa fa-clock-o"></i> {{ commit.commit.author.date | date('d/m à H:i') }}
            </a>
        {% endfor %}
    </div>
</div>
